<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fitness Tracking Application Test Suite">
	<listeners>

		<listener class-name="com.qa.utilities.Listeners"></listener>
		<listener class-name="com.qa.utilities.ExtentTestNGListener"></listener>
	</listeners>
	<test thread-count="5" name="Fitness Tracking Application Test">
		<classes>
			<class name="com.qa.testcases.TestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
